<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_PATH" value="./logs"/>

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/memorize-words.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/memorize-words.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Development Profile -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </root>
        <logger name="com.memorizewords" level="DEBUG" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </logger>
        <logger name="org.springframework.web" level="DEBUG" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </logger>
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="File"/>
        </logger>
    </springProfile>

    <!-- Production Profile -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="File"/>
        </root>
        <logger name="com.memorizewords" level="INFO" additivity="false">
            <appender-ref ref="File"/>
        </logger>
        <logger name="org.springframework.web" level="WARN" additivity="false">
            <appender-ref ref="File"/>
        </logger>
        <logger name="org.hibernate" level="WARN" additivity="false">
            <appender-ref ref="File"/>
        </logger>
    </springProfile>

    <!-- Default Profile -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>